.Top_menu{
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}

#Rubriker{
    text-align: center;
    color: white;
}

body{
    background-color: rgb(63, 63, 63);
    background-image: url(Background.avif);
}

@keyframes bild_animation { 
    0%  {opacity: 0;}
    25%  {opacity: 0,25;}
    50%  {opacity: 0,5;}
    75%  {opacity: 0,75;}
    100%  {opacity: 1;}
}

.Bild{
    height: 300px;
    display: inline;
    border: 6px solid #333;
    margin: 8px;
    animation-name: bild_animation;
    animation-duration: 10s;
}

.Text_vid_bild{
    color: rgb(205, 205, 205);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}

.Huvud_text{
    display: flex;
    justify-content: center;
}

.Filmer_text{
  color: rgb(205, 205, 205);
  font-size: 18px;
}

.Film_layout{
  display: flex;
  flex-direction: column;
}
